body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
  color: #4B4B7A;
  letter-spacing: 0.4px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Maven Pro', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
